 <main class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h1 class="mb-4">dashboard</h1>
      <a href="/newpost" class="btn btn-primary">create a new blog post</a>
    </div>
  </div>
  <br>
  <h1 class="mb-4">Tech Blog Contributions :</h1>
  {{#each posts}}
    <div class="post-container post mb-3">
      <h2><a href="/post/{{id}}" class="text-decoration-none text-reset">{{title}}</a></h2>
      <p>Created by: {{user.username}} | Date: {{format_date createdAt}}</p>
      <div class="btn-group">
        <a href="/editpost/{{id}}" class="btn btn-warning">edit post</a>
        <button class="btn btn-danger delete-post" data-post-id="{{id}}">delete</button>
      </div>
    </div>
  {{/each}}
</main>